.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; /* Align center */
  background-color: transparent;
  max-width: 1100px; /* Adjust the max-width as needed */
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
}

.linkBox1 {
  background-color: #99b7e1; /* Box background color */
  padding: 1rem; /* Box padding */
  border-radius: 8px; /* Box border radius */
  flex: 1; /* Allow the link box to grow and fill the available space */
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkBox2 {
  background-color: #ddd; /* Box background color */
  padding: 10px; /* Box padding */
  border-radius: 8px; /* Box border radius */
  padding: 1rem; /* Box padding */
  border-radius: 8px; /* Box border radius */
  flex: 1; /* Allow the link box to grow and fill the available space */
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

.nav-link:hover {
  text-decoration: underline;
}
