.container {
  font-family: "Roboto", sans-serif;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 2rem;
}

.uploadSection {
  text-align: center;
  margin-bottom: 20px;
}

.uploadButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 10px;
}

.runButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 10px;
}

.runButtonDisabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.leftSection {
  flex: 1;
  max-width: 40%;
}

.rightSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-height: 200px; /* Limit the height */
  overflow-y: auto; /* Enable scrolling */
}

.section::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.imageContainer {
  text-align: center;
  margin-bottom: 20px;
}

.image {
  max-width: 100%;
  border-radius: 10px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.checkbox {
  margin-right: 10px;
}

.label {
  font-size: 1rem;
  color: #555;
}

.paginationButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.paginationButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.paginationButton:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.confirmationButton {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.confirmationButton:hover {
  background-color: #0056b3;
}
